<!-- // terminal: npm i json-server (lokalt)-->
<!-- // terminal: npm i -g json-server (globalt)-->
<!-- // terminal: json-server db.json (hvis installeret globalt)--> 
<!-- // terminal: npx json-server db.json --portnummer (hvis installeret lokalt)--> 
<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title><%=title%></title>
</head>
<body>
 <%- include('nav.ejs') %>
 <h1>Alle Students</h1>
 <dl>
 <% studentsData.forEach(student => { %>
  <br>
  <dt>
   id: 
   <%= student.id %>
  </dt>
  <dd>
   firstname: <%= student.names[0].firstname %>
  </dd>
  <dd>
   middlename: <%= student.names[0].middlename %>
  </dd>
  <dd>
   surname: <%= student.names[0].surname %>
  </dd>
  <dd>
   age: <%= student.age %>
  </dd>
 <% }) %>
</dl>
</body>
</html>